@{
    ViewBag.Title = "About";
}
<center><img src="~/images/center2a.jpeg" style="width:70%; height:auto"/></center>

<br />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3><strong>Who We Are</strong></h3>
            <p>International Language Center & Tutoring (ILCT) and James Place work cooperatively together out of the same location on Howell Avenue.  These programs are not distinct non-profit organizations but are programs of churches.  ILCT is a program birthed by Eastbrook Church; James Place is a program started and run by Elmbrook Church.</p>
            <br />
            <h3><strong>Intentions</strong></h3>
            <p>
                ILCT and James Place seek to serve the refugee and immigrant community on Milwaukee's south side.  We intend to:<br>
                ▪ be a <strong>welcome center</strong> for refugees and immigrants; a place where they find a warm, loving welcome from people who are genuinely happy to meet and help them.<br>
                ▪ <strong>build relationships</strong> of love, care and respect with refugees and immigrants; these relationships are to go far beyond simply responding to need in a polite manner.<br>
                ▪ <strong>encourage and equip refugees and immigrants with skills</strong> they need to thrive in the US.  These include English classes, job search assistance, academic tutoring, immigration paperwork, and help navigating the bureaucracies of government assistance, banking, health care, and public education.
            </p>
        </div>
        <div class="col-md-6">
            <h3><strong>Mission Statements</strong></h3>
            <p>
                ▪  <strong>Eastbrook Church:</strong> To proclaim and embody the love of Jesus Christ in the city and in the world.<br>
                ▪  <strong>ILCT:</strong> To proclaim and embody the love of Jesus Christ to the refugee and immigrant population on Milwaukee’s south side.<br>
                ▪  <strong>Elmbrook Church:</strong> To help people become rooted in Jesus and released to His mission.<br>
                ▪  <strong>James Place:</strong> Building relationships, responding to needs, and offering hope in the name of Jesus
            </p>
            <br />
            <h3><strong>Values</strong></h3>
            <p>
                ▪ Each person has dignity, value, and is worth loving.  We serve out of love, i.e., from a desire for their best, not out of pity, nor with an attitude of looking down on others.<br>
                ▪ Each person has talents and abilities, and is responsible to use these to better themselves, their families and their communities.  Our best efforts are to encourage and equip people with skills that improve the quality of life for individuals, families and communities.<br>
                ▪ Each culture provides unique solutions to the life problems and ambitions of an ethnic group.  Each culture has strengths, ideas, weaknesses, and unique ways to reflect the Creator's glory.  We look for ways to appreciate other cultures, enhance their cultural strengths, and encourage--gently, humbly--change in areas of weakness.
            </p>
        </div>
    </div>
</div>
