@{
    ViewBag.Title = "Contact";
}
<br />
<h4><strong>Location</strong></h4>

<address>
    4204 S. Howell Avenue<br />
    Milwaukee, WI 53207<br />
    <abbr title="Phone">Phone:</abbr>
    414-467-5042
</address>

<h4><strong>Contact for more Information</strong></h4>
<address>
    <strong>Director:</strong>   <a href="mailto:jmdressner@gmail.com">jmdressner@gmail.com</a>
</address>