@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><img src="~/images/ILCT Logo 1510 Left.jpg" style="width:90%; height:auto" /></center>
    <br />
    <center><p class="lead">Welcome to ILCT! Please look through our site to see what we do and how to get involved.</p></center>
</div>

<style>
    /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
    #map {
        height: 400px;
        width: 700px;
    }
</style>
<body>
    <div class="row">
        <center><div id="map"></div></center>
        <script>
            var map;
                       
            function initMap() {
                var langCenter = { lat: 42.968031, lng: -87.909296 };
                var map = new google.maps.Map(document.getElementById('map'), {
                    center: langCenter,
                    zoom: 13
                });
                var marker = new google.maps.Marker({ position: langCenter, map: map });
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"
                async defer></script>
    </div>
</body>