@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: khaki">
    <center><img src="~/images/ILCT Logo 1510 Left.jpg" style="width:90%; height:auto" /></center>
    <br />
    <center><p class="lead">Welcome to ILCT! We are a neighborhood resource center that provides numerous services.<br> Please look through our site to learn more about what we do and how to get involved.</p></center>
</div>
<div>
    <center><h4><strong>Hours</strong></h4>
    <p>Monday-Friday: 9am - 1:30pm</p>
    <br />
    <h4><strong>Location</strong></h4>
    <p>Internation Language Center and Tutoring<br>4204 S. Howell Avenue, Milwaukee WI 53207</p></center>
</div>

<style>
    /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
    #map {
        height: 400px;
        width: 700px;
    }
</style>
<body>
    <div class="row">
        <center><div id="map"></div></center>
        <script>
            var map;
                       
            function initMap() {
                var langCenter = { lat: 42.968031, lng: -87.909296 };
                var map = new google.maps.Map(document.getElementById('map'), {
                    center: langCenter,
                    zoom: 15
                });
                var marker = new google.maps.Marker({ position: langCenter, map: map });
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.Key&callback=initMap"
                async defer></script>
    </div>
</body>