
@{
    ViewBag.Title = "Questions";
}

<br />
<div class="row">
    <div class="col-md-12">
        <center><h3>Civics (History and Government) Questions for the Naturalization Test</h3></center>
        <center><h4>@Html.ActionLink("Download Test", "Download", "Home")</h4></center>
        @*<center><a href="~/Download?file=100q.pdf" target="_blank">Download Test</a></center>*@
        <br />
        <p>
            The 100 civics (history and government) questions and answers for the naturalization test are listed below. The civics test is an oral test and the USCIS Officer will ask the applicant up to 10 of the 100 civics questions. An applicant must answer 6 out of 10 questions correctly to pass the civics portion of the naturalization test.
        </p>
        <p>
            On the naturalization test, some answers may change because of elections or appointments. As you study for the test, make sure that you know the most current answers to these questions. Answer these questions with the name of the official who is serving at the time of your eligibility interview with USCIS. The USCIS Officer will not accept an incorrect answer.
            Although USCIS is aware that there may be additional correct answers to the 100 civics questions, applicants are encouraged to respond to the civics questions using the answers provided below.
        </p>
        <p>*  If you are 65 years old or older and have been a legal permanent resident of the United States for 20 or more years, you may study just the questions that have been marked with an asterisk. </p>
        <br />
        <center><h4>American Government</h4></center>
        <br />
        <style>
            .indented {
                padding-left: 50pt;
                padding-right: 50pt;
            }
        </style>
        <p><strong>A: Principles of American Democracy</strong></p>
        <p>1.  What is the supreme law of the land?</p>
        <p class="indented">▪  the Constitution </p>
        <p>2.  What does the Constitution do?</p>
        <p class="indented">▪  sets up the government</p>
        <p class="indented">▪  defines the government</p>
        <p class="indented">▪  protects basic rights of Americans </p>
        <p>3.The idea of self-government is	in the first three words of	the	Constitution. What are these words?</p>
        <p class="indented">▪  We the People</p>
        <p>4.  What is an amendment?</p>
        <p class="indented">▪  a change (to the Constitution)</p>
        <p class="indented">▪  an addition (to the Constitution) </p>
        <p>5.  What	do we call the first ten amendments	to the Constitution?</p>
        <p class="indented">▪  the Bill of Rights </p>
        <p>6.  What is one right or freedom from the First Amendment?* </p>
        <p class="indented">▪  speech</p>
        <p class="indented">▪  religion</p>
        <p class="indented">▪  assembly</p>
        <p class="indented">▪  press</p>
        <p class="indented">▪  petition the government </p>
        <p>7.  How many amendments does the Constitution have?</p>
        <p class="indented">▪  twenty-seven (27)</p>
        <p>8.  What did the Declaration of Independence do?</p>
        <p class="indented">▪  announced our independence (from Great Britain)</p>
        <p class="indented">▪  declared our independence (from Great Britain)</p>
        <p class="indented">▪  said that the United States is free (from Great Britain) </p>
        <p>9.  What are two rights in the Declaration of Independence?</p>
        <p class="indented">▪  life</p>
        <p class="indented">▪  liberty</p>
        <p class="indented">▪  pursuit of happiness </p>
        <p>10.  What is freedom of religion?</p>
        <p class="indented">▪  You can practice any religion, or not practice a religion. </p>
        <p>11.  What is the economic system in the United States?*</p>
        <p class="indented">▪  capitalist economy</p>
        <p class="indented">▪  market economy </p>
        <p>12.  What is the “rule of law”?</p>
        <p class="indented">▪  Everyone must follow the law</p>
        <p class="indented">▪  Leaders must obey the law</p>
        <p class="indented">▪  Government must obey the law. </p>
        <p class="indented">▪  No one is above the law</p>
        <br />
        <p><strong>B: System of Government </strong></p>
        <p>13.  Name one branch or part of the government.*</p>
        <p class="indented">▪  Congress</p>
        <p class="indented">▪  legislative</p>
        <p class="indented">▪  President</p>
        <p class="indented">▪  executive</p>
        <p class="indented">▪  the courts</p>
        <p class="indented">▪  judicial </p>
        <p>14.  What stops one branch of government from becoming too powerful?</p>
        <p class="indented">▪  checks and balances</p>
        <p class="indented">▪  separation of powers </p>
        <p>15.  Who is in charge of the executive branch?</p>
        <p class="indented">▪  the President </p>
        <p>16.  Who makes federal laws?</p>
        <p class="indented">▪  Congress</p>
        <p class="indented">▪  Senate and House (of Representatives)</p>
        <p class="indented">▪  (U.S. or national) legislature </p>
        <p>18.  How many U.S. Senators are there?</p>
        <p class="indented">▪  one hundred (100)</p>
        <p>19.  We elect a U.S. Senator for how many years? </p>
        <p class="indented">▪  six (6) </p>
        <p>20.  Who is one of your state’s U.S. Senators now?*</p>
        <p class="indented"> ▪   Answers will vary.  [District of Columbia residents and residents of U.S. territories should answer that D.C. (or the territory where the applicant lives) has no U.S. Senators.] </p>
        <p>21.  The House of Representatives has how many voting members? </p>
        <p class="indented">▪  four hundred thirty-five (435)</p>
        <p>22.  We elect a U.S. Representative for how many years?</p>
        <p class="indented">▪  two (2) </p>
        <p>23.  Name your U.S. Representative.</p>
        <p class="indented">▪   Answers will vary.  [Residents of territories with nonvoting Delegates or Resident Commissioners may provide the name of that Delegate or Commissioner.  Also acceptable is any statement that the territory has no (voting) Representatives in Congress.] </p>
        <p>24.  Who does a U.S. Senator represent?</p>
        <p class="indented">▪  all people of the state </p>
        <p>25.  Why do some states have more Representatives than other states?</p>
        <p class="indented">▪  (because of) the state’s population</p>
        <p class="indented">▪  (because) they have more people</p>
        <p class="indented">▪  (because) some states have more people </p>
        <p>26.  We elect a President for how many years?</p>
        <p class="indented">▪  four (4) </p>
        <p>27.  In what month do we vote for President?*</p>
        <p class="indented">▪  November </p>
        <p>28.  What is the name of the President of the United States now?*</p>
        <p class="indented">▪  Donald J. Trump</p>
        <p class="indented">▪  Donald Trump</p>
        <p class="indented">▪  Trump </p>
        <p>29.  What is the name of the Vice President of the United States now?</p>
        <p class="indented">▪  Michael R. Pence</p>
        <p class="indented">▪  Mike Pence</p>
        <p class="indented">▪  Pence </p>
        <p>30.  If the President can no longer serve, who becomes President?</p>
        <p class="indented">▪  the Vice President </p>
        <p>31.  If both the President and the Vice President can no longer serve, who becomes President? </p>
        <p class="indented">▪  the Speaker of the House </p>
        <p>32.  Who is the Commander in Chief of the military?</p>
        <p class="indented">▪  the President </p>
        <p>33.  Who signs bills to become laws?</p>
        <p class="indented">▪  the President</p>
        <p>34.  Who vetoes bills?</p>
        <p class="indented">▪  the President </p>
        <p>35.  What does the President’s Cabinet do? </p>
        <p class="indented">▪  advises the President </p>
        <p>36.  What are two Cabinet-level positions?</p>
        <p class="indented">▪  Secretary of Agriculture</p>
        <p class="indented">▪  Secretary of Commerce</p>
        <p class="indented">▪  Secretary of Defense</p>
        <p class="indented">▪  Secretary of Education</p>
        <p class="indented">▪  Secretary of Energy</p>
        <p class="indented">▪  Secretary of Health and Human Services</p>
        <p class="indented">▪  Secretary of Homeland Security</p>
        <p class="indented">▪  Secretary of Housing and Urban Development</p>
        <p class="indented">▪  Secretary of the Interior</p>
        <p class="indented">▪  Secretary of Labor</p>
        <p class="indented">▪  Secretary of State</p>
        <p class="indented">▪  Secretary of Transportation</p>
        <p class="indented">▪  Secretary of the Treasury</p>
        <p class="indented">▪  Secretary of Veterans Affairs</p>
        <p class="indented">▪  Attorney General</p>
        <p class="indented">▪  Vice President </p>
        <p>37.  What does the judicial branch do?</p>
        <p class="indented">▪  reviews laws</p>
        <p class="indented">▪  explains laws</p>
        <p class="indented">▪  resolves disputes (disagreements)</p>
        <p class="indented">▪  decides if a law goes against the Constitution </p>
        <p>38.  What is the highest court in the United States?</p>
        <p class="indented">▪  the Supreme Court</p>
        <p>39.  How many justices are on the Supreme Court?</p>
        <p class="indented">▪  nine (9) </p>
        <p>40.  Who is the Chief Justice of the United States now?</p>
        <p class="indented">▪  John Roberts (John G. Roberts, Jr.) </p>
        <p>41.   Under our Constitution, some powers belong to the federal government.  What is one power of the federal government?</p>
        <p class="indented">▪  to print money</p>
        <p class="indented">▪  to declare war</p>
        <p class="indented">▪  to create an army</p>
        <p class="indented">▪  to make treaties</p>
        <p>42.   Under our Constitution, some powers belong to the states.  What is one power of the states? </p>
        <p class="indented">▪  provide schooling and education</p>
        <p class="indented">▪  provide protection (police)</p>
        <p class="indented">▪  provide safety (fire departments)</p>
        <p class="indented">▪  give a driver’s license</p>
        <p class="indented">▪  approve zoning and land use </p>
        <p>43.  Who is the Governor of your state now?</p>
        <p class="indented">▪   Answers will vary.  [District of Columbia residents should answer that D.C. does not have a Governor.] </p>
        <p>44.  What is the capital of your state?*</p>
        <p class="indented">▪   Answers will vary.  [District of Columbia residents should answer that D.C. is not a state and does not have a capital.  Residents of U.S. territories should name the capital of the territory.] </p>
        <p>45.  What are the two major political parties in the United States?*</p>
        <p class="indented">▪  Democratic and Republican </p>
        <p>46.  What is the political party of the President now?</p>
        <p class="indented">▪  Republican (Party) </p>
        <p>47.  What is the name of the Speaker of the House of Representatives now?</p>
        <p class="indented">▪  Paul D. Ryan</p>
        <p class="indented">▪  (Paul) Ryan</p>
        <br />
        <p><strong>C: Rights and Responsibilities</strong></p>
        <p>48.  There are four amendments to the Constitution about who can vote.  Describe one of them. </p>
        <p class="indented">▪  Citizens eighteen (18) and older (can vote).</p>
        <p class="indented">▪  You don’t have to pay (a poll tax) to vote.</p>
        <p class="indented">▪  Any citizen can vote.  (Women and men can vote.)</p>
        <p class="indented">▪  A male citizen of any race (can vote).</p>
        <p>49.  What is one responsibility that is only for United States citizens?*</p>
        <p class="indented">▪  serve on a jury</p>
        <p class="indented">▪  vote in a federal election</p>
        <p>50.  Name one right only for United States citizens.</p>
        <p class="indented">▪  vote in a federal election</p>
        <p class="indented">▪  run for federal office </p>
        <p>51.  What are two rights of everyone living in the United States?</p>
        <p class="indented">▪  freedom of expression</p>
        <p class="indented">▪  freedom of speech</p>
        <p class="indented">▪  freedom of assembly</p>
        <p class="indented">▪  freedom to petition the government</p>
        <p class="indented">▪  freedom of religion</p>
        <p class="indented">▪  the right to bear arms </p>
        <p>52.  What do we show loyalty to when we say the Pledge of Allegiance?</p>
        <p class="indented">▪  the United States</p>
        <p class="indented">▪  the flag</p>
        <p>53.  What is one promise you make when you become a United States citizen? </p>
        <p class="indented">▪  give up loyalty to other countries </p>
        <p class="indented">▪  defend the Constitution and laws of the United States</p>
        <p class="indented">▪  obey the laws of the United States</p>
        <p class="indented">▪  serve in the U.S. military (if needed)</p>
        <p class="indented">▪  serve (do important work for) the nation (if needed)</p>
        <p class="indented">▪  be loyal to the United States </p>
        <p>54.  How old do citizens have to be to vote for President?* </p>
        <p class="indented">▪  eighteen (18) and older </p>
        <p>55.  What are two ways that Americans can participate in their democracy? </p>
        <p class="indented">▪  vote</p>
        <p class="indented">▪  join a political party </p>
        <p class="indented">▪  help with a campaign</p>
        <p class="indented">▪  join a civic group </p>
        <p class="indented">▪  join a community group </p>
        <p class="indented">▪  give an elected official your opinion on an issue </p>
        <p class="indented">▪  call Senators and Representatives</p>
        <p class="indented">▪  publicly support or oppose an issue or policy</p>
        <p class="indented">▪  run for office</p>
        <p class="indented">▪  write to a newspaper </p>
        <p>56.  When is the last day you can send in federal income tax forms?* </p>
        <p class="indented">▪  April 15 </p>
        <p>57.  When must all men register for the Selective Service? </p>
        <p class="indented">▪  at age eighteen (18) </p>
        <p class="indented">▪  between eighteen (18) and twenty-six (26)</p>
        <br />
        <center><h4>American History</h4></center>
        <br />
        <p><strong>A: Colonial Period and Independence </strong></p>
        <p>58.  What is one reason colonists came to America? </p>
        <p class="indented">▪  freedom</p>
        <p class="indented">▪  political liberty </p>
        <p class="indented">▪  religious freedom</p>
        <p class="indented">▪  economic opportunity </p>
        <p class="indented">▪  practice their religion </p>
        <p class="indented">▪  escape persecution </p>
        <p>59.  Who lived in America before the Europeans arrived? </p>
        <p class="indented">▪  American Indians</p>
        <p class="indented">▪  Native Americans</p>
        <p>60.  What group of people was taken to America and sold as slaves? </p>
        <p class="indented">▪  Africans </p>
        <p class="indented">▪  people from Africa </p>
        <p>61. Why did the colonists fight the British? </p>
        <p class="indented">▪  because of high taxes (taxation without representation)</p>
        <p class="indented">▪  because the British army stayed in their houses (boarding, quartering) </p>
        <p class="indented">▪  because they didn’t have self-government</p>
        <p>62.  Who wrote the Declaration of Independence? </p>
        <p class="indented">▪  (Thomas) Jefferson </p>
        <p>63.  When was the Declaration of Independence adopted? </p>
        <p class="indented">▪  July 4, 1776 </p>
        <p>64.  There were 13 original states.  Name three.</p>
        <p class="indented">▪  New Hampshire</p>
        <p class="indented">▪  Massachusetts </p>
        <p class="indented">▪  Rhode Island </p>
        <p class="indented">▪  Connecticut</p>
        <p class="indented">▪  New York</p>
        <p class="indented">▪  New Jersey</p>
        <p class="indented">▪  Pennsylvania</p>
        <p class="indented">▪  Delaware</p>
        <p class="indented">▪  Maryland </p>
        <p class="indented">▪  Virginia </p>
        <p class="indented">▪  North Carolina </p>
        <p class="indented">▪  South Carolina </p>
        <p class="indented">▪  Georgia </p>
        <p>65.  What happened at the Constitutional Convention? </p>
        <p class="indented">▪  The Constitution was written. </p>
        <p class="indented">▪  The Founding Fathers wrote the Constitution. </p>
        <p>66.  When was the Constitution written?</p>
        <p class="indented">▪  1787 </p>
        <p>67.  The Federalist Papers supported the passage of the U.S. Constitution.  Name one of the writers. </p>
        <p class="indented">▪  (James) Madison </p>
        <p class="indented">▪  (Alexander) Hamilton</p>
        <p class="indented">▪  (John) Jay</p>
        <p class="indented">▪  Publius </p>
        <p>68.  What is one thing Benjamin Franklin is famous for?</p>
        <p class="indented">▪  U.S. diplomat</p>
        <p class="indented">▪  oldest member of the Constitutional Convention</p>
        <p class="indented">▪  first Postmaster General of the United States </p>
        <p class="indented">▪  writer of “Poor Richard’s Almanac”</p>
        <p class="indented">▪  started the first free libraries</p>
        <p>69.  Who is the “Father of Our Country”? </p>
        <p class="indented">▪  (George) Washington </p>
        <p>70. Who was the first President?* </p>
        <p class="indented">▪  (George) Washington</p>
        <br />
        <p><strong>B: 1800s </strong></p>
        <p>71.  What territory did the United States buy from France in 1803? </p>
        <p class="indented">▪  the Louisiana Territory</p>
        <p class="indented">▪  Louisiana </p>
        <p>72.  Name one war fought by the United States in the 1800s. </p>
        <p class="indented">▪  War of 1812</p>
        <p class="indented">▪  Mexican-American War</p>
        <p class="indented">▪  Civil War</p>
        <p class="indented">▪  Spanish-American War </p>
        <p>73.  Name the U.S. war between the North and the South. </p>
        <p class="indented">▪  the Civil War</p>
        <p class="indented">▪  the War between the States</p>
        <p>74.  Name one problem that led to the Civil War. </p>
        <p class="indented">▪  slavery</p>
        <p class="indented">▪  economic reasons </p>
        <p class="indented">▪  states’ rights</p>
        <p>75.  What was one important thing that Abraham Lincoln did?*</p>
        <p class="indented">▪  freed the slaves (Emancipation Proclamation) </p>
        <p class="indented">▪  saved (or preserved) the Union </p>
        <p class="indented">▪  led the United States during the Civil War</p>
        <p>76.  What did the Emancipation Proclamation do? </p>
        <p class="indented">▪  freed the slaves</p>
        <p class="indented">▪  freed slaves in the Confederacy</p>
        <p class="indented">▪  freed slaves in the Confederate states </p>
        <p class="indented">▪  freed slaves in most Southern states </p>
        <p>77.  What did Susan B. Anthony do? </p>
        <p class="indented">▪  fought for women’s rights</p>
        <p class="indented">▪  fought for civil rights</p>
        <br />
        <p><strong>C: Recent American History and Other Important Historical Information </strong></p>
        <p>78.  Name one war fought by the United States in the 1900s.* </p>
        <p class="indented">▪  World War I </p>
        <p class="indented">▪  World War II</p>
        <p class="indented">▪  Korean War </p>
        <p class="indented">▪  Vietnam War </p>
        <p class="indented">▪  (Persian) Gulf War</p>
        <p>79.  Who was President during World War I? </p>
        <p class="indented">▪  (Woodrow) Wilson </p>
        <p>80.  Who was President during the Great Depression and World War II? </p>
        <p class="indented">▪  (Franklin) Roosevelt </p>
        <p>81.		Who	did	the	United	States	fight	in	World	War	II?	 </p>
        <p class="indented">▪  Japan, Germany, and Italy </p>
        <p>82.  Before he was President, Eisenhower was a general.  What war was he in? </p>
        <p class="indented">▪  World War II </p>
        <p>83.  During the Cold War, what was the main concern of the United States? </p>
        <p class="indented">▪  Communism </p>
        <p>84.  What movement tried to end racial discrimination? </p>
        <p class="indented">▪  civil rights (movement) </p>
        <p>85.  What did Martin Luther King, Jr. do?* </p>
        <p class="indented">▪  fought for civil rights</p>
        <p class="indented">▪  worked for equality for all Americans</p>
        <p>86.  What major event happened on September 11, 2001, in the United States? </p>
        <p class="indented">▪  Terrorists attacked the United States</p>
        <p>87.  Name one American Indian tribe in the United States. </p>
        <p> [USCIS Officers will be supplied with a list of federally recognized American Indian tribes.] </p>
        <p class="indented">▪  Cherokee </p>
        <p class="indented">▪  Navajo </p>
        <p class="indented">▪  Sioux </p>
        <p class="indented">▪  Chippewa </p>
        <p class="indented">▪  Choctaw </p>
        <p class="indented">▪  Pueblo </p>
        <p class="indented">▪  Apache </p>
        <p class="indented">▪  Iroquois </p>
        <p class="indented">▪  Creek </p>
        <p class="indented">▪  Blackfeet </p>
        <p class="indented">▪  Seminole </p>
        <p class="indented">▪  Cheyenne </p>
        <p class="indented">▪  Arawak </p>
        <p class="indented">▪  Shawnee </p>
        <p class="indented">▪  Mohegan </p>
        <p class="indented">▪  Huron </p>
        <p class="indented">▪  Oneida </p>
        <p class="indented">▪  Lakota </p>
        <p class="indented">▪  Crow </p>
        <p class="indented">▪  Teton </p>
        <p class="indented">▪  Hopi </p>
        <p class="indented">▪  Inuit</p>
        <br />
        <center><h4>INTEGRATED CIVICS</h4></center>
        <br />
        <p><strong>A: Geography </strong></p>
        <p>88.  Name one of the two longest rivers in the United States. </p>
        <p class="indented">▪  Missouri (River) </p>
        <p class="indented">▪  Mississippi (River) </p>
        <p>89.  What ocean is on the West Coast of the United States?</p>
        <p class="indented">▪  Pacific (Ocean) </p>
        <p>90.  What ocean is on the East Coast of the United States? </p>
        <p class="indented">▪  Atlantic (Ocean) </p>
        <p>91.  Name one U.S. territory. </p>
        <p class="indented">▪  Puerto Rico </p>
        <p class="indented">▪  U.S. Virgin Islands</p>
        <p class="indented">▪  American Samoa </p>
        <p class="indented">▪  Northern Mariana Islands </p>
        <p class="indented">▪  Guam </p>
        <p>92.  Name one state that borders Canada. </p>
        <p class="indented">▪  Maine </p>
        <p class="indented">▪  New Hampshire </p>
        <p class="indented">▪  Vermont </p>
        <p class="indented">▪  New York</p>
        <p class="indented">▪  Pennsylvania </p>
        <p class="indented">▪  Ohio </p>
        <p class="indented">▪  Michigan </p>
        <p class="indented">▪  Minnesota </p>
        <p class="indented">▪  North Dakota </p>
        <p class="indented">▪  Montana </p>
        <p class="indented">▪  Idaho </p>
        <p class="indented">▪  Washington </p>
        <p class="indented">▪  Alaska </p>
        <p>93.  Name one state that borders Mexico. </p>
        <p class="indented" ▪ California </p>
        <p class="indented">▪  Arizona </p>
        <p class="indented">▪  New Mexico </p>
        <p class="indented">▪  Texas </p>
        <p>94.  What is the capital of the United States?* </p>
        <p class="indented">▪  Washington, D.C. </p>
        <p>95.  Where is the Statue of Liberty?* </p>
        <p class="indented">▪  New York (Harbor) </p>
        <p class="indented">▪  Liberty Island</p>
        <p>[Also acceptable are New Jersey, near New York City, and on the Hudson (River).]</p>
        <br />
        <p><strong>B: Symbols </strong></p>
        <p>96. Why does	the	flag have 13 stripes?</p>
        <p class="indented">▪  because there were 13 original colonies </p>
        <p class="indented">▪  because the stripes represent the original colonies </p>
        <p>97. Why does	the	flag have 50 stars?*</p>
        <p class="indented">▪  because there is one star for each state </p>
        <p class="indented">▪  because each star represents a state </p>
        <p class="indented">▪  because there are 50 states</p>
        <p>98.  What is the name of the national anthem? </p>
        <p class="indented">▪  The Star-Spangled Banner</p>
        <br />
        <p><strong>C: Holidays </strong></p>
        <p>99.  When do we celebrate Independence Day?* </p>
        <p class="indented">▪  July 4 </p>
        <p>100. Name two national U.S. holidays. </p>
        <p class="indented">▪  New Year’s Day </p>
        <p class="indented">▪  Martin Luther King, Jr. Day </p>
        <p class="indented">▪  Presidents’ Day </p>
        <p class="indented">▪  Memorial Day </p>
        <p class="indented">▪  Independence Day </p>
        <p class="indented">▪  Labor Day </p>
        <p class="indented">▪  Columbus Day </p>
        <p class="indented">▪  Columbus Day </p>
        <p class="indented">▪  Thanksgiving </p>
        <p class="indented">▪  Christmas</p>
        <br />
        <p><i>Taken from www.uscis.gov</i></p>
    </div>
</div>