
@{
    ViewBag.Title = "Service";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2><strong>Services</strong></h2>
            
            <h3>English Sessions</h3>

            <p>
                Monday-Friday 9:00-11:00am, and 11:30am - 1:30pm. <br>
                Many levels offered during each session, from pre-literacy through intermediate.<br>
                Monthly Cost: 15$ per person, $25 per family.
            </p>
            @Html.ActionLink("Watch English videos", "Videos", "Home")

            <h3>Citizenship Course</h3>

            <p>
                Offered by appointment; Monday and Wednesday from 11:30am. <br>
                This course prepares you for the interview for citizenship, including the 100 questions.<br>
                Monthly Cost: $15 per person, $25 per family.
            </p>
            @Html.ActionLink("View 100 Questions", "Questions", "Home")

            <h3>Immigration Services</h3>

            <p>
                Accredited representatives can assist you with applications for Green Cards, Travel Documents, <br>
                Naturalization, and other immigration matters.<br>
                Services by appointment, 11:00-4:00pm Tuesday and Thursday.<br>
                Cost: fees vary per service, but are reasonable.
            </p>
        </div>
        <div class="col-md-6">
            <h2><strong>Volunteer Opportunities</strong></h2>
            
            <h3>English Second Language Teachers</h3>

            <p>
                9:00-11:00 and 11:30-1:30 any day Monday to Friday. <br>
                Teach ESL to small groups of refugees and immigrants. Teaching <br>
                materials are provided by the ILCT. Experience not required. <br>
                Contact Jim Dressner, ilctmilwaukee@gmail.com, 414.467.5042
            </p>

            <h3>Administrative Help</h3>

            <p>
                11:30-2:00 Fridays
                Help with the end of the week bookkeeping and data entry, and the <br>
                preparation of attendance sheets for the next week. <br>
                Contact Jim as above.
            </p>

            <h3>Childcare</h3>

            <p>
                8:45 - 11:00 any day Monday to Friday. <br>
                Work with preschool children who come with their parents. <br>
                Contact Jim as above.
            </p>

            <h3>Tutors for High School Students</h3>

            <p>
                6:30-8:00 Tuesday and Wednesday evenings during the school year. <br>
                Assist with homework assignments, usually involves picking up and dropping off. <br>
                Wednesday functioning under Chuck (414.213.6324) <br>
                Tuesday functioning under Steve (262.501.8628)
            </p>

            <h3>Sewing Studio</h3>

            <p>
                Come connect with refugee women, create different household items, <br>
                and cultivate relationships. <br>
                Thursday Class 11:00 - 1:30 <br>
                Saturday Class 11:00 - 1:30 <br>
                Contact Gaby Bennett, 559.223.0471, gabymae92@gmail.com
            </p>

            <h3>Immigration Services</h3>

            <p>
                Tuesday and Thursday 11am - 4pm <br>
                Shadow our team of accredited representatives. Assist them in the preparation <br>
                of different immigration applications for green cards, U.S. citizenship, <br>
                Family petitions, and more. <br>
                Contact Lexie Hodel Director lhodel@elmbrook.org
            </p>
        </div>
    </div>
</div>
