
@{
    ViewBag.Title = "Videos";
}
<div style="background-color: khaki">
<br />
<center><h2><strong>Videos</strong></h2></center>
<br />
</div>
<center><h4>Beginner English Videos</h4></center>
<br>
<center><div id="video1"></div></center>
<br />
<center><h4>Intermediate English Videos</h4></center>
<br />
<center><div id="video2"></div></center>

<script>
    // Load the IFrame Player API code asynchronously.
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // Replace the 'ytplayer' element with an <iframe> and
    // YouTube player after the API code downloads.
    var player1;
    var player2;
    function onYouTubePlayerAPIReady() {
        player1 = new YT.Player('video1', {
            height: '360',
            width: '640',
            playerVars:
                {
                    listType: 'playlist',
                    list: 'PLt_HlHMBZtkDeqKMgJx_ZCK9wf2nkutAO'
                }
        });
        player2 = new YT.Player('video2', {
            height: '360',
            width: '640',
            playerVars:
                {
                    listType: 'playlist',
                    list: 'PLt_HlHMBZtkBh9PRnFzFbU1eaBed4HfM9'
                }
        });
    }
</script>



