
@{
    ViewBag.Title = "VolunteerProcess";
}

<div style="background-color: khaki">
    <br />
    <center><h2><strong>Volunteer Process</strong></h2></center>
    <br />
</div>

<center><h4><strong>@Html.ActionLink("Download Volunteer Form", "DownloadFile", "Home")</strong></h4></center>

<center><p>@Html.ActionLink("Request more information", "Contact", "Home")</p></center>


