
@{
    ViewBag.Title = "VolunteerProcess";
}

<center><h2><strong>Volunteer Process</strong></h2></center>

<center><h4><strong>@Html.ActionLink("Download Volunteer Form", "DownloadFile", "Home")</strong></h4></center>


